/camparkNNGenerator-ejb/nb-configuration.xml
/camparkNNGenerator-ear/nbactions.xml
/camparkNNGenerator-ear/nb-configuration.xml
/camparkNNGenerator-web/nb-configuration.xml
/camparkNNGenerator-ejb/target/
/camparkNNGenerator-web/target/
/camparkNNGenerator-ear/target/